@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div>
  <p style="text-align: center;">
    Welcome to the Sign Up With Xero Sample App. 
    This demonstrates how an app partner can use the recommended flow to create accounts using Xero.
  </p>
</div>
