*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
.fake
.ionide
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.csprojAssemblyReference.cache
XeroNetSSUApp/bin/Debug/netcoreapp3.1/Xero.NetStandard.OAuth2Client.dll
XeroNetSSUApp/bin/Debug/netcoreapp3.1/XeroNetSSUApp.dll
XeroNetSSUApp/bin/Debug/netcoreapp3.1/XeroNetSSUApp.pdb
XeroNetSSUApp/bin/Debug/netcoreapp3.1/XeroNetSSUApp.Views.dll
XeroNetSSUApp/bin/Debug/netcoreapp3.1/XeroNetSSUApp.Views.pdb
XeroNetSSUApp/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.csproj.FileListAbsolute.txt
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.dll
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.pdb
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.RazorCoreGenerate.cache
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.Views.dll
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.Views.pdb
XeroNetSSUApp/bin/Debug/netcoreapp3.1/xerotoken.json
XeroNetSSUApp/bin/Debug/netcoreapp3.1/Xero.NetStandard.OAuth2.dll
XeroNetSSUApp/obj/Debug/netcoreapp3.1/XeroNetSSUApp.csprojAssemblyReference.cache
XeroNetSSUApp/xerotoken.json

XeroNetSSUApp/tenantid.json
XeroNetSSUApp/state.json
XeroNetSSUApp/localappsettings.json

# Once pulled, during development alternate below appsettings.json part 
XeroNetSSUApp/appsettings.json