*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
.fake
.ionide
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.csprojAssemblyReference.cache
XeroNetSSUOpenIdPluginApp/bin/Debug/netcoreapp3.1/Xero.NetStandard.OAuth2Client.dll
XeroNetSSUOpenIdPluginApp/bin/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.dll
XeroNetSSUOpenIdPluginApp/bin/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.pdb
XeroNetSSUOpenIdPluginApp/bin/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.Views.dll
XeroNetSSUOpenIdPluginApp/bin/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.Views.pdb
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.csproj.FileListAbsolute.txt
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.dll
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.pdb
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.RazorCoreGenerate.cache
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.Views.dll
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.Views.pdb
XeroNetSSUOpenIdPluginApp/bin/Debug/netcoreapp3.1/xerotoken.json
XeroNetSSUOpenIdPluginApp/bin/Debug/netcoreapp3.1/Xero.NetStandard.OAuth2.dll
XeroNetSSUOpenIdPluginApp/obj/Debug/netcoreapp3.1/XeroNetSSUOpenIdPluginApp.csprojAssemblyReference.cache
XeroNetSSUOpenIdPluginApp/xerotoken.json

XeroNetSSUOpenIdPluginApp/tenantid.json
XeroNetSSUOpenIdPluginApp/state.json
XeroNetSSUOpenIdPluginApp/localappsettings.json

# Once pulled, during development alternate below appsettings.json part 
XeroNetSSUOpenIdPluginApp/appsettings.json